<div ng-controller="CharacterController as vm">
    <header>
        <h3 ng-bind="vm.character.name"></h3>
        <h4>
            <span ng-bind="vm.character.race.name"></span>
            <span ng-bind="vm.character.class"></span>
        </h4>
    </header>
    <ul>
        <li ng-click="vm.tab = vm.tabs.details">Details</li>
        <li ng-click="vm.tab = vm.tabs.abilities">Abilities</li>
        <li ng-click="vm.tab = vm.tabs.combat">Combat</li>
        <li ng-click="vm.tab = vm.tabs.equipment">Equipment</li>
        <li ng-click="vm.tab = vm.tabs.background">Background</li>
        <li ng-click="vm.tab = vm.tabs.spells">Spells</li>
    </ul>
    <div ng-show="vm.tab === vm.tabs.details">
        Details
    </div>
    <div ng-show="vm.tab === vm.tabs.abilities">
        <div class="pull-left container">
            <table>
                <tr>
                    <td>STR</td>
                    <td ng-bind="vm.character.str"></td>
                </tr>
                <tr>
                    <td>DEX</td>
                    <td ng-bind="vm.character.dex"></td>
                </tr>
                <tr>
                    <td>CON</td>
                    <td ng-bind="vm.character.con"></td>
                </tr>
                <tr>
                    <td>INT</td>
                    <td ng-bind="vm.character.int"></td>
                </tr>
                <tr>
                    <td>WIS</td>
                    <td ng-bind="vm.character.wis"></td>
                </tr>
                <tr>
                    <td>CHA</td>
                    <td ng-bind="vm.character.cha"></td>
                </tr>
            </table>
        </div>
        <div class="pull-left">
            <div class="container">
                <h4>Saving Throws</h4>
                <table>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.strengthSavingThrow"></td>
                        <td>Strength</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.dexteritySavingThrow"></td>
                        <td>Dexterity</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.constitutionSavingThrow"></td>
                        <td>Constitution</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.intelligenceSavingThrow"></td>
                        <td>Intelligence</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.wisdomSavingThrow"></td>
                        <td>Wisdom</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td ng-bind="vm.character.charismaSavingThrow"></td>
                        <td>Charisma</td>
                    </tr>
                </table>
            </div>
            <div class="container">
                <h4>Skills</h4>
                <table>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td></td>
                        <td>Charisma</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="vm.tab === vm.tabs.combat">
        Combat
    </div>
    <div ng-show="vm.tab === vm.tabs.equipment">
        Equipment
    </div>
    <div ng-show="vm.tab === vm.tabs.background">
        Background
    </div>
    <div ng-show="vm.tab === vm.tabs.spells">
        Spells
    </div>
    <!--<input type="button" ng-click="vm.updateCharacter()" value="Save" />-->
</div>