<div ng-controller="SpellController as vm">
    <h3>
        <span ng-bind="vm.spell.name"></span>
        <rating value="{{vm.spell.rating}}"></rating>
    </h3>
    <i ng-bind="vm.spell.levelDescription"></i> <i ng-if="vm.spell.isRitual">(ritual)</i> <i ng-if="vm.spell.isConcentration">(concentration)</i>
    <div>
        <strong>Casting Time:</strong> <span ng-bind="vm.spell.castingTime"></span>
    </div>
    <div>
        <strong>Components:</strong> <span ng-bind="vm.spell.components"></span> <i ng-if="vm.spell.hasComponentCost">(cost)</i>
    </div>
    <div>
        <strong>Source:</strong> <span ng-bind="vm.spell.source + ' pg. ' + vm.spell.page"></span>
    </div>
    <!--<review type="spell" entity-id="{{vm.spell.spellID}}"></review>-->
    <div ng-repeat="spellReview in vm.spell.spellReviews">
        <review-display review-type="spell" review="spellReview"></review-display>
    </div>
</div>