body {
    font-family: "Bookman Old Style" serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Baskerville Old Face" serif;
    font-variant: small-caps;
    margin: 0;
    padding: 0;    
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding-left: 0;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.spell-list li {
    margin-bottom: 10px;
}

.spell-list h3 {
    display: inline-block;
}

.sprite {
    background: url('../../Images/spritesheet.png') no-repeat;
}

.rating-1, .rating-1-5, .rating-2, .rating-2-5, .rating-3, .rating-3-5, .rating-4, .rating-4-5, .rating-5 {
    display: inline-block;
    height: 16px;
    width: 80px;
}

.rating-1 {
    background-position: 0px 0px;
}

.rating-1-5 {
    background-position: 0px -17px;
}

.rating-2 {
    background-position: 0px -34px;
}

.rating-2-5 {
    background-position: 0px -51px;
}

.rating-3 {
    background-position: 0px -68px;
}

.rating-3-5 {
    background-position: 0px -85px;
}

.rating-4 {
    background-position: 0px -102px;
}

.rating-4-5 {
    background-position: 0px -119px;
}

.rating-5 {
    background-position: 0px -136px;
}
