body {
    font-family: "Bookman Old Style" serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Baskerville Old Face" serif;
    font-variant: small-caps;
    margin: 0;
    padding: 0;    
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding-left: 0;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.spell-list li {
    margin-bottom: 10px;
}

.spell-list h3 {
    display: inline-block;
}