/***********************************************
* elements
************************************************/
body {
    background: url("/Images/parchment.png") repeat #FFFFFF;
    font-family: "Bookman Old Style" serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

h1, h2, h3, h4, h5 {
    font-family: "Baskerville Old Face" serif;
    font-variant: small-caps;
    margin: 0;
    padding: 0;    
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 5px 0px;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #4D1501;
}

a:hover {
    text-decoration: underline;
}

/***********************************************
* miscellaneous
************************************************/
.sprite {
    background: url('../../Images/spritesheet.png') no-repeat;
}

.underline {
    text-decoration: underline;
}

/***********************************************
* expanding content
************************************************/
.expanding-content {
    border: 1px solid black;
    box-shadow: 2px 2px gray;
    padding: 3px;
}

.expanding-content header > div {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.plus, .minus {
    height: 15px;
    width: 15px;
}

.minus {
    background-position: -16px -190px;
}

.plus {
    background-position: 0px -190px;
}

.open, .closed {
    overflow: hidden;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;
}

.open {
    height: 100%;
}

.closed {
    height: 0px;
}

/***********************************************
* validation
************************************************/
.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

/***********************************************
* layout
************************************************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.inline {
    display: inline-block;
}

#logout-form {
    margin-right: 15px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

ul.horizontal > li {
    display: inline-block;
}

/***********************************************
* navigation
************************************************/

/***********************************************
* feedback
************************************************/
.feedback {
    height: 175px;
}

.feedback textarea {
    height: 120px;
    max-width: 600px;
    width: 100%;
}

/***********************************************
* reviews, ratings, and votes
************************************************/
.review {
    width: 100%;
    margin-top: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #DDDDDD;
}

.review > div {
    float: left;
}

.review p {
    margin: 0;
}

.review .votes {
    width: 40px;
}

.review .review-content {
    width: 93%;
}

ul.rating {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.rating li {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.review-edit textarea, .review-edit input, .review-edit .tips {
    margin-top: 10px;
}

.review-edit textarea {
    height: 150px;
    max-width: 600px;
    width: 100%;
}

.review-edit input[type="text"] {
    max-width: 600px;
    width: 100%;
}

.votes > div {
    margin: 0 auto;
    margin-top: 2px;
    text-align: center;
}

.rating-1, .rating-1-5, .rating-2, .rating-2-5, .rating-3, .rating-3-5, .rating-4, .rating-4-5, .rating-5 {
    display: inline-block;
    height: 16px;
    width: 80px;
}

.rating-1 {
    background-position: 0px 0px;
}

.rating-1-5 {
    background-position: 0px -17px;
}

.rating-2 {
    background-position: 0px -34px;
}

.rating-2-5 {
    background-position: 0px -51px;
}

.rating-3 {
    background-position: 0px -68px;
}

.rating-3-5 {
    background-position: 0px -85px;
}

.rating-4 {
    background-position: 0px -102px;
}

.rating-4-5 {
    background-position: 0px -119px;
}

.rating-5 {
    background-position: 0px -136px;
}

.star-empty, .star-full {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.star-empty {
    background-position: -90px 0px;
}

.star-full {
    background-position: -90px -17px;
}

.up-vote, .down-vote, .no-up-vote, .no-down-vote {
    height: 16px;
    width: 26px;
}

.up-vote {
    background-position: -32px -154px;
}

.down-vote {
    background-position: -32px -173px;
}

.no-up-vote {
    background-position: 0px -154px;
}

.no-down-vote {
    background-position: 0px -173px;
}

/***********************************************
* spells
************************************************/

.spell-list li {
    margin-bottom: 10px;
}

.spell-list h4 {
    display: inline-block;
}

.spell-details .back, .spell-details .spell-content {
    float: left;
}

.spell-details .back {
    font-size: 40px;
    margin-top: -5px;
    width: 40px;
}

.spell-filter {
    height: 165px;
}