<div>
    <form class="feedback" name="form" ng-submit="form.$valid && saveFeedback()" novalidate ng-if="!feedbackSubmitted">
        <textarea name="comment" ng-model="feedback.comment" ng-class="{ 'error': hasError('comment', 'required') }" required placeholder="How can this page be better?"></textarea>
        <div class="error-message" ng-show="hasError('comment', 'required')">
            Please enter a comment.
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
    <div ng-if="feedbackSubmitted">
        Thank you for your feedback.
    </div>
</div>