<form name="form" class="review-edit" ng-submit="form.$valid && saveReview()" novalidate>
    <div>
        Your rating:
        <ul class="rating" ng-class="{ 'error': form.$submitted && review.rating < 1 }">
            <li class="sprite"
                data-description="Terrible"
                ng-class="{ 'star-empty': (!hovering && review.rating < 1) || (hovering && hoverRating < 1), 'star-full': (!hovering && review.rating >= 1) || (hovering && hoverRating >= 1) }"></li>
            <li class="sprite"
                data-description="Bad"
                ng-class="{ 'star-empty': (!hovering && review.rating < 2) || (hovering && hoverRating < 2), 'star-full': (!hovering && review.rating >= 2) || (hovering && hoverRating >= 2) }"></li>
            <li class="sprite"
                data-description="OK"
                ng-class="{ 'star-empty': (!hovering && review.rating < 3) || (hovering && hoverRating < 3), 'star-full': (!hovering && review.rating >= 3) || (hovering && hoverRating >= 3) }"></li>
            <li class="sprite"
                data-description="Good"
                ng-class="{ 'star-empty': (!hovering && review.rating < 4) || (hovering && hoverRating < 4), 'star-full': (!hovering && review.rating >= 4) || (hovering && hoverRating >= 4) }"></li>
            <li class="sprite"
                data-description="Excellent"
                ng-class="{ 'star-empty': (!hovering && review.rating < 5) || (hovering && hoverRating < 5), 'star-full': (!hovering && review.rating >= 5) || (hovering && hoverRating >= 5) }"></li>
        </ul>
        <span ng-bind="ratingDescription"></span>
        <div class="error-message" ng-show="form.$submitted && review.rating < 1">
            Please enter a rating.
        </div>
    </div>
    <div>
        <textarea name="comment" ng-model="review.comment" ng-class="{ 'error': hasError('comment', 'required') }" required placeholder="Comment for your review"></textarea>
        <div class="error-message" ng-show="hasError('comment', 'required')">
            Please enter a comment.
        </div>
    </div>
    <div>
        <input type="text" name="headline" ng-model="review.headline" ng-class="{ 'error': hasError('headline', 'required') }" required placeholder="Headline for your review" />
        <div class="error-message" ng-show="hasError('headline', 'required')">
            Please enter a headline.
        </div>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
    <div class="tips">
        <h4>Review Tips</h4>
        <ul>
            <li>What's the best thing about this spell? (If any)</li>
            <li>What's the worst thing about this spell? (If any)</li>
            <li>Is this spell good for roleplay situations or is it mainly used in combat?</li>
            <li>What other spells synergize with this one?</li>
            <li>What shenanigans have you pulled with this spell?</li>
            <li>DMs - is this a good spell for NPCs opposing your players?</li>
            <li>To add a line break, type &lt;br /&gt; (Hey, it's alpha. I'll add something better in future versions)</li>
        </ul>
    </div>
</form>