<article class="review clearfix">
    <div class="votes">
        <div class="sprite" ng-class="{ 'no-up-vote': !userVoted || (userVoted && downVoted), 'up-vote': upVoted }" ng-click="castVote(true)"></div>
        <div ng-bind="review.score"></div>
        <div class="sprite" ng-class="{ 'no-down-vote': !userVoted || (userVoted && upVoted), 'down-vote': downVoted }" ng-click="castVote(false)"></div>
    </div>
    <div class="review-content">
        <rating-display rating="{{review.rating}}"></rating-display>
        <strong ng-bind="review.headline"></strong>
        <div>
            by <span ng-bind="review.aspNetUser.userName"></span> on <span ng-bind="review.created | date:'MM/dd/yyyy'"></span>
        </div>
        <p ng-bind="review.comment"></p>
    </div>
</article>