<div ng-controller="SpellsController as vm">
    <ul class="spell-list">
        <li ng-repeat="spell in vm.spells">
            <h3><a ng-bind="spell.name" ng-href="#/spell/{{spell.url}}"></a></h3>
            <i ng-bind="spell.levelDescription"></i> <i ng-if="spell.isRitual">(ritual)</i> <i ng-if="spell.isConcentration">(concentration)</i>
            / <span ng-bind="spell.castingTime"></span> 
            / <span ng-bind="spell.components"></span> <i ng-if="spell.hasComponentCost">(cost)</i>
            / <span ng-bind="spell.source + ' pg. ' + spell.page"></span>
            / (<span ng-bind="spell.rating"></span> / 5)
        </li>
    </ul>
</div>