<div ng-controller="SpellController as vm">
    <div class="spell-details clearfix">
        <div class="back">
            <a href="#/spell-list">&#9664;</a>
        </div>
        <div class="spell-content">
            <spell-header spell="vm.spell" show-rating="true" reviewing="false"></spell-header>
            <input type="button" value="Write a review" ng-click="vm.reviewSpell()" />
        </div>
    </div>
    <hr />
    <div ng-repeat="spellReview in vm.spell.spellReviews">
        <review-display review-type="spell" review="spellReview.review"></review-display>
    </div>
</div>