<div ng-controller="SpellListController as vm">
    <div>
        <div>
            <strong>Class:</strong>  
            <input type="checkbox" id="bard" ng-model="vm.search._class.bard" /> <label for="bard">Bard</label>
            <input type="checkbox" id="cleric" ng-model="vm.search._class.cleric" /> <label for="cleric">Cleric</label> 
            <input type="checkbox" id="druid" ng-model="vm.search._class.druid" /> <label for="druid">Druid</label>
            <input type="checkbox" id="paladin" ng-model="vm.search._class.paladin" /> <label for="paladin">Paladin</label>
            <input type="checkbox" id="ranger" ng-model="vm.search._class.ranger" /> <label for="ranger">Ranger</label>
            <input type="checkbox" id="sorcerer" ng-model="vm.search._class.sorcerer" /> <label for="sorcerer">Sorcerer</label>
            <input type="checkbox" id="warlock" ng-model="vm.search._class.warlock" /> <label for="warlock">Warlock</label>
            <input type="checkbox" id="wizard" ng-model="vm.search._class.wizard" /> <label for="wizard">Wizard</label>
        </div>
        <div>
            <strong>School:</strong>
            <input type="checkbox" id="abjuration" ng-model="vm.search.school.abjuration" /> <label for="abjuration">Abjuration</label>
            <input type="checkbox" id="conjuration" ng-model="vm.search.school.conjuration" /> <label for="conjuration">Conjuration</label>
            <input type="checkbox" id="divination" ng-model="vm.search.school.divination" /> <label for="divination">Divination</label>
            <input type="checkbox" id="enchantment" ng-model="vm.search.school.enchantment" /> <label for="enchantment">Enchantment</label>
            <input type="checkbox" id="evocation" ng-model="vm.search.school.evocation" /> <label for="evocation">Evocation</label>
            <input type="checkbox" id="illusion" ng-model="vm.search.school.illusion" /> <label for="illusion">Illusion</label>
            <input type="checkbox" id="necromancy" ng-model="vm.search.school.necromancy" /> <label for="necromancy">Necromancy</label>
            <input type="checkbox" id="transmutation" ng-model="vm.search.school.transmutation" /> <label for="transmutation">Transmutation</label>

        </div>
        <div>
            <strong>Level:</strong>
            <input type="checkbox" id="_0" ng-model="vm.search.level._0" /> <label for="_0">Cantrip</label>
            <input type="checkbox" id="_1" ng-model="vm.search.level._1" /> <label for="_1">1st</label>
            <input type="checkbox" id="_2" ng-model="vm.search.level._2" /> <label for="_2">2nd</label>
            <input type="checkbox" id="_3" ng-model="vm.search.level._3" /> <label for="_3">3rd</label>
            <input type="checkbox" id="_4" ng-model="vm.search.level._4" /> <label for="_4">4th</label>
            <input type="checkbox" id="_5" ng-model="vm.search.level._5" /> <label for="_5">5th</label>
            <input type="checkbox" id="_6" ng-model="vm.search.level._6" /> <label for="_6">6th</label>
            <input type="checkbox" id="_7" ng-model="vm.search.level._7" /> <label for="_7">7th</label>
            <input type="checkbox" id="_8" ng-model="vm.search.level._8" /> <label for="_8">8th</label>
            <input type="checkbox" id="_9" ng-model="vm.search.level._9" /> <label for="_9">9th</label>
        </div>
        <div>
            <strong>Ritual/Concentration:</strong>
            <input type="checkbox" id="isRitual" ng-model="vm.search.isRitual" /> <label for="isRitual">Ritual</label>
            <input type="checkbox" id="isConcentration" ng-model="vm.search.isConcentration" /> <label for="isConcentration">Concentration</label>
        </div>
        <div>
            <strong>Source:</strong>
            <input type="checkbox" id="playersHandbook" ng-model="vm.search.source.playersHandbook" /> <label for="playersHandbook">Player's Handbook</label>
            <input type="checkbox" id="elementalEvil" ng-model="vm.search.source.elementalEvil" /> <label for="elementalEvil">Elemental Evil</label>
        </div>
        <div>
            <strong>Sort by:</strong>
            <input type="radio" id="name" name="orderBy" value="name" checked="checked" ng-model="vm.predicate" /> <label for="name">Name</label>
            <input type="radio" id="level" name="orderBy" value="level" ng-model="vm.predicate" /> <label for="level">Level</label>
        </div>
        <div>
            <strong>Search:</strong> <input type="text" ng-model="vm.search.query" />
        </div>
    </div>
    <ul class="spell-list">
        <li ng-repeat="spell in vm.spells | filter:vm.spellFilter() | orderBy:vm.predicate">
            <h3><a ng-bind="spell.name" ng-href="#/spell/{{spell.url}}"></a></h3>
            <rating-display rating="{{spell.rating}}"></rating-display>
            / <i ng-bind="spell.levelDescription"></i> <i ng-if="spell.isRitual">(ritual)</i> <i ng-if="spell.isConcentration">(concentration)</i>
            / <span ng-bind="spell.castingTime"></span> 
            / <span ng-bind="spell.components"></span> <i ng-if="spell.hasComponentCost">(cost)</i>
            / <span ng-bind="spell.source + ' pg. ' + spell.page"></span>
        </li>
    </ul>
</div>